USE [db_tp2020]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 15/05/2020 01:50:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Empresa] [varchar](50) NULL,
	[Direccion] [varchar](50) NULL,
	[RFC] [varchar](50) NULL,
	[Contacto] [varchar](50) NULL,
	[Giro] [varchar](50) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permisos]    Script Date: 15/05/2020 01:50:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permisos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [varchar](50) NULL,
 CONSTRAINT [PK_Permisos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicio]    Script Date: 15/05/2020 01:50:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicio](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_Cliente] [int] NULL,
	[id_Unidad] [int] NULL,
	[origen] [varchar](50) NULL,
	[cv] [varchar](5) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unidad]    Script Date: 15/05/2020 01:50:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unidad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[placa] [varchar](50) NULL,
	[modelo] [varchar](50) NULL,
	[seguro] [varchar](50) NULL,
	[capacidad] [varchar](50) NULL,
	[numero_serie] [varchar](50) NULL,
	[operador] [varchar](50) NULL,
	[telefono] [varchar](50) NULL,
 CONSTRAINT [PK_Unidad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 15/05/2020 01:50:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[Cargo] [varchar](50) NULL,
	[Foto] [image] NULL,
	[Password] [varchar](50) NULL,
	[Permisos] [int] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([ID], [Empresa], [Direccion], [RFC], [Contacto], [Giro]) VALUES (1, N'Rikolino', N'Ecatepex', N'RFCRiko', N'01800Riko', N'Dulces')
INSERT [dbo].[Cliente] ([ID], [Empresa], [Direccion], [RFC], [Contacto], [Giro]) VALUES (2, N'Miguelito2', N'San Juan', N'MELP002384PL9', N'1234567890', N'Dulces')
INSERT [dbo].[Cliente] ([ID], [Empresa], [Direccion], [RFC], [Contacto], [Giro]) VALUES (4, N'UNAM', N'CDMX', N'UNAM123456', N'1001001001', N'ESCOLAR')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Permisos] ON 

INSERT [dbo].[Permisos] ([ID], [Tipo]) VALUES (1, N'Administrador')
INSERT [dbo].[Permisos] ([ID], [Tipo]) VALUES (2, N'Regular')
SET IDENTITY_INSERT [dbo].[Permisos] OFF
GO
SET IDENTITY_INSERT [dbo].[Servicio] ON 

INSERT [dbo].[Servicio] ([id], [id_Cliente], [id_Unidad], [origen], [cv]) VALUES (1, 4, 5, N'Sonora', N'Mundo')
SET IDENTITY_INSERT [dbo].[Servicio] OFF
GO
SET IDENTITY_INSERT [dbo].[Unidad] ON 

INSERT [dbo].[Unidad] ([id], [placa], [modelo], [seguro], [capacidad], [numero_serie], [operador], [telefono]) VALUES (1, N'qwedfge432', N'Volador', N'28907451-134', N'32', N'239017093624', N'Juan', N'5655326694')
INSERT [dbo].[Unidad] ([id], [placa], [modelo], [seguro], [capacidad], [numero_serie], [operador], [telefono]) VALUES (5, N'660-ERP', N'VOLVO', N'2349678432', N'182kg', N'56789394', N'Miguel Angel', N'56782938792')
SET IDENTITY_INSERT [dbo].[Unidad] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Servicio]  WITH CHECK ADD  CONSTRAINT [FK_Servicio_Cliente] FOREIGN KEY([id_Cliente])
REFERENCES [dbo].[Cliente] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Servicio] CHECK CONSTRAINT [FK_Servicio_Cliente]
GO
ALTER TABLE [dbo].[Servicio]  WITH CHECK ADD  CONSTRAINT [FK_Servicio_Unidad] FOREIGN KEY([id_Unidad])
REFERENCES [dbo].[Unidad] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Servicio] CHECK CONSTRAINT [FK_Servicio_Unidad]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Permisos] FOREIGN KEY([Permisos])
REFERENCES [dbo].[Permisos] ([ID])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Permisos]
GO
